<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socialite.solite_pos">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/NoActionBar">
        <activity
            android:name="com.socialite.solite_pos.view.main.menu.outcome.DetailOutcomeActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.socialite.solite_pos.view.main.menu.order.SelectMixVariantOrderActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.socialite.solite_pos.view.main.menu.purchase.PurchaseActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.socialite.solite_pos.view.main.menu.master.detail.VariantMasterMixOptionActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.socialite.solite_pos.view.main.menu.master.detail.VariantOptionActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.socialite.solite_pos.view.main.menu.order.SelectPaymentsActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.socialite.solite_pos.view.main.menu.master.product.ProductMasterActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.socialite.solite_pos.view.main.menu.master.ListMasterActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.socialite.solite_pos.view.main.menu.order.SelectCustomerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.socialite.solite_pos.view.main.menu.order.OrderActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.socialite.solite_pos.view.bluetooth.BluetoothDeviceListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.socialite.solite_pos.view.main.OpeningActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.socialite.solite_pos.view.main.MainActivity"
            android:screenOrientation="landscape" />

        <receiver android:name="com.socialite.solite_pos.utils.tools.DoneCook" />
    </application>

</manifest>